<div class="footer-container">
    <div class="footer-container__row">

        <!-- <app-footer-links [sites]="footerSites" group="Ayuda"></app-footer-links>
        <app-footer-links [sites]="footerSites" group="Empresa"></app-footer-links>
        <app-footer-links [sites]="footerSites" group="Follow"></app-footer-links> -->

        <div class="footer-container__row__qr">
            <h5>Descarga nuestra app</h5>
            <img src="https://static.oysho.net/6/cms/assets/uploads/qrDownload_1.png?imwidth=200&ts=20221129021707"
                alt="código qr de Oysho" />
        </div>
    </div>
    <hr>
    <div class="footer-container__social">
        <div class="footer-container__social--copyright">
            <p>Copyright &copy; 2022 All Rights Reserved by
                <a href="https://github.com/glorvega">Gloria</a>.
            </p>
        </div>
    </div>
</div>