@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&display=swap');


.container {
    //height: 100vh;
    //width: 100vw;
    //max-height: 800px;
    //max-width: 1280px;
    //min-height: 600px;
    //min-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
  
/*   .border {
    height: 250px;
    width: 300px;
    background: transparent;
    border-radius: 10px;
    position: relative;
  }
  
  .border:hover {
    border: 1px solid #000000;
  } */
  
  .cards {
    /* height: 379px;
    width: 300px; */
    //height: 300px;
    //width: 250px;
    height: 250px;
    width: 320px;
    background: #000000;
    //background-size: 300px;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .card0 {
    background: url('../../../assets/images/artists/ebass1.jpg');
    //background-size: 300px;
    filter: grayscale(100%);
  }
  
  .card0:hover {
    background: url('../../../assets/images/artists/ebass1.jpg');
    //background-size: 350px;
    filter: grayscale(0);
  }
  
  .card1 {
    background: url('../../../assets/images/artists/slone3.jpg');
    background-size: 300px;
    filter: grayscale(100%);
  }
  
  .card1:hover {
    background: url('../../../assets/images/artists/slone3.jpg');
    background-size: 300px;
    filter: grayscale(0);
  }
  
  .card2 {
    background: url('../../../assets/images/artists/redrooms1.jpg');
    background-size: 320px;
    filter: grayscale(100%);
  }
  
  .card2:hover {
    background: url('../../../assets/images/artists/redrooms1.jpg');
    background-size: 320px;
    filter: grayscale(0);
  }

  .card3 {
    background: url('../../../assets/images/artists/6thsense.jpg') center;
    background-size: 300px;
    filter: grayscale(100%);
  }
  
  .card3:hover {
    background: url('../../../assets/images/artists/6thsense.jpg') center ;
    background-size: 300px;
    filter: grayscale(0);
  }

  .card4 {
    background: url('../../../assets/images/artists/westcode2.jpg');
    background-size: 320px;
    filter: grayscale(100%);
  }
  
  .card4:hover {
    background: url('../../../assets/images/artists/westcode2.jpg') ;
    background-size: 320px;
    filter: grayscale(0);
  }
  
  .card0:hover h2, .card1:hover h2, .card2:hover h2, .card3:hover h2, .card4:hover h2{
    opacity: 1;
  }
  
  .card0:hover .fa, .card1:hover .fa, .card2:hover .fa, .card3:hover .fa, .card4:hover .fa {
    opacity: 1;
  }
  
  h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: #fff;
    -webkit-text-stroke: 1px black;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    //height: 130px;
    //top: 205px;
    top: 160px;
    left:20px;
    gap: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  
  .icons a {
    color: #fff;
  }
  
  .icons a:focus, .icons a:hover {
    color: #9c9c9c;
  }

